<% if @cart_item.present? %>
    <div class="row">
        <%= render "layouts/error_messages", model: @cart_item %>
    </div>
<% end %>


<div class="row">
	<div class="col-xs-4">
	    <h4>ショッピングカート</h4>
	</div>
	<div class="text-right col-xs-offset-4 col-xs-4">
	    <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, data: {confirm: "本当にカートを空にしてもよろしいですか？"}, class: "origin-btn" %>
    </div>
</div>

<div class="row">
    <table class="table table-bordered">
        <thead>
		    <tr class="active">
			    <th>商品名</th>
		        <th>単価(税込)</th>
			    <th>数量</th>
			    <th>小計</th>
			    <th></th>
		    </tr>
	    </thead>
		<tbody>
			<% if @cart_items.present? %>
		        <% @cart_items.each do |cart_item| %>
		            <tr>
			            <td><%= attachment_image_tag(@item, :image, format: 'jpeg', size: '100x100', fallback: "no_image.jpg") %>
			                <%= cart_item.item.name %></td>
			            <td id="cart_item"><%= cart_item.item.price_tax_included %></td>
			            <td id="cart_item"><%= form_for(cart_item) do |f| %>
			                               <%= f.number_field :item_count, placeholder: "#{cart_item.item_count}" %>
			                               <%= f.submit "変更" , class: "origin-btn btn-sm" %>
			                               <% end %></td>
			            <td id="cart_item"><%= cart_item.subtotal %></td>
			            <td id="cart_item"><%= link_to "削除する", cart_item_path(cart_item.item_id), method: :delete, class: "origin-btn btn-sm" %></td>
		            </tr>
		        <% end %>
		    <% end %>
		</tbody>
	</table>
</div>

<div class="row">
	<div class="col-xs-3">
	    <%= link_to "買い物を続ける", root_path, class: "origin-btn" %>
    </div>
    <div class="total_amount col-xs-offset-6 col-xs-2">
	    <p>合計金額</p>
    </div>
    <div class="item_total_amount col-xs-1">
    	<p><%= @item_total_amount %></p>
    </div>
</div>

<div class="row">
	<div class="col-xs-4 col-xs-offset-4">
	    <% if @cart_items.present? %>
            <%= link_to "情報入力に進む", new_order_path, class: "origin-btn-cart btn-block" %>
        <% end %>
    </div>
</div>

