<% content_for(:title, '新規会員登録') %>
<div class="row">
  <div class="col-xs-4 col-xs-offset-2"><h3>新規会員登録</h3></div>
</div>
<div class="row">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal h-adr" }) do |f| %>
    <%= render "layouts/error_messages", model: resource %>

    <div class="form-group">
      <%= f.label :first_name, "名前", class: "control-label col-xs-4" %>
      <div class="col-xs-8 form-inline">
        <label>(姓)</label>&nbsp;<%= f.text_field :first_name, class: "form-control" %>
        <label>(名)</label>&nbsp;<%= f.text_field :family_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :first_name_kana, "フリガナ", class: "control-label col-xs-4" %>
      <div class="col-xs-8 form-inline">
        <label>(セイ)</label>&nbsp;<%= f.text_field :first_name_kana, class: "form-control" %>
        <label>(メイ)</label>&nbsp;<%= f.text_field :family_name_kana, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, "メールアドレス", class: "control-label col-xs-4" %>
      <div class="col-xs-4">
        <%= f.email_field :email, class: "form-control", autocomplete: "email" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :post_number, "郵便番号(ハイフンなし)", class: "control-label col-xs-4" %>
      <div class="col-xs-4">
        <%= f.text_field :post_number, class: "p-postal-code form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :address, "住所", class: "control-label col-xs-4" %>
      <span class="p-country-name" style="display:none;">Japan</span>
      <div class="col-xs-5">
        <%= f.text_field :address, class: "p-region p-locality p-street-address p-extended-address form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :tel, "電話番号(ハイフンなし)", class: "control-label col-xs-4" %>
      <div class="col-xs-4">
        <%= f.text_field :tel, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, "パスワード(6文字以上)", class: "control-label col-xs-4" %>
      <div class="col-xs-4">
        <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "パスワード(確認用)", class: "control-label col-xs-4" %>
      <div class="col-xs-4">
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "新規登録", class: "btn btn-success col-xs-4 col-xs-offset-4" %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-4 col-xs-offset-2">
    <h3>既に登録済みの方</h3>
    <p><%= link_to 'こちら', new_client_session_path %> からログインしてください。</p>
  </div>
</div>