<div class="row">
    <div class="col-xs-offset-1 col-xs-9">
        <h3 class="order-text col-xs-3">注文履歴一覧</h3>
        <table class="table table-hover">
            <thead>
                <tr class="active">
                    <th class="col-xs-3">購入日時</th>
                    <th class="col-xs-3">購入者</th>
                    <th class="col-xs-3">注文個数</th>
                    <th class="col-xs-3">注文ステータス</th>
                </tr>
            </thead>
            <tbody>
                <% if @orders.any? %>
                    <% @orders.each do |order| %>
                        <tr>
                            <td><%= link_to (l order.created_at), admin_order_path(order) %></td>
                            <td><%= order.client.get_full_name %></td>
                            <td><%= order.order_items.count %></td>
                            <td><%=  order.status_i18n %></td>
                        </tr>
                    <% end %>
                        <%= paginate @orders %>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
