<!--ヘッダーの記述-->
<header class="navbar fixed-top">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <% if client_signed_in? %>
         <%= link_to(root_path) do %>
            <%= image_tag 'rogo-cream',:size => '310x60' %>
         <% end %>
      <% else %>
         <%= link_to(root_path) do %>
            <%= image_tag 'rogo',:size => '310x50' %>
         <% end %>
      <% end %>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-dark navbar-right">
        <% if client_signed_in? %>
          <li><p>ようこそ、<%= current_client.get_full_name %>さん！</p></li>
          <li><%= link_to ' マイページ', client_path(current_client), class: 'glyphicon glyphicon-user user' %></li>
          <li><%= link_to ' 商品一覧', items_path, class: 'glyphicon glyphicon-picture picture' %></li>
          <li><%= link_to ' カート', cart_items_path, class: 'glyphicon glyphicon-shopping-cart shopping-cart' %></li>
          <li><%= link_to ' ログアウト', destroy_client_session_path, method: :delete, class: 'glyphicon glyphicon-log-out log-out' %></li>
        <% else %>
          <li><%= link_to ' 商品一覧', items_path, class: 'glyphicon glyphicon-shopping-cart shopping-cart' %></li>
          <li><%= link_to ' 新規登録', new_client_registration_path, class: 'glyphicon glyphicon-user user' %></li>
          <li><%= link_to ' ログイン', new_client_session_path, class: 'glyphicon glyphicon-log-in log-in' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>