<%= render "layouts/flash" %>
  <div class="main-visual">
        <div class="main-visual-content">
        	<p class="main-visual-name">
        		ようこそ、ながのCAKEへ！
        	</p>
            <p class="main-visual-text">
                このサイトは、ケーキ販売のECサイトになります。<br>
                会員でない方も商品の閲覧はできますが、<br>
                購入には会員登録が必要になります。<br>
            </p>
        </div>
    </div>

<div class = "row">
  <div class = "col-xs-3 top-genre">
      <%= render 'layouts/genre_search', genres: @genres %>
  </div>
  <div class="col-xs-9 pickup-item">
  	<h2>Pick Up!!</h2><br>
  	<h4><%= link_to "＞＞more",items_path, method: :get %></h4><br>
  	<ul>
  	  <li><%= image_tag 'plum-cake',:size => '230x230' %></li>
  	  <li><h4>期間限定  プラムのタルト</h4></li>
  	  <li><h3> ￥1,500- </h3></li>
  	</ul>
  	<ul>
  	  <li><%= image_tag 'cookie',:size => '230x230' %></li>
  	  <li><h4>シュガーシナモンクッキー</h4></li>
  	  <li><h3> ￥700- </h3></li>
    </ul>
    <ul>
  	  <li><%= image_tag 'cake_2',:size => '230x230' %></li>
  	  <li><h4>カフェレアチーズケーキ</h4></li>
  	  <li><h3> ￥1,000- </h3></li>
   </ul>
  </div>
</div>

